/* Update your index.css to this: */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;

}

#root {
  width: 100%;
}

* {
  box-sizing: border-box; /* Ensures padding doesn't add extra width */
}